*{
    padding: 0;
    margin: 0;
}
body{
background-color: rgb(255, 255, 255);
padding-right: 7px;

}

h2{
    display: flex;
    justify-content: space-between;

    margin: 40px;
    color: rgb(255, 208, 0);
}
a{
    text-decoration: none;
    color: rgb(255, 208, 0);
    list-style:none ;
    }
    .hd{
  width: 100%;

    }
    ul {

        display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    font-size: 18px;
    background-image:url(ee.png) ;

   
    
    }
     ul li{
        margin-right: 20px ;
        margin-top: 3px;
        font-size: 19px;
        overflow: hidden;
    }
    ul li a{
        padding: 10px 15px;
       border-radius: 8px;
        
    }
    ul li a:hover,.active{
        background:rgb(255, 208, 0);
        color: rgb(34, 32, 41);
        
        }

.ca{
width: 98%;
height:50px;


}
.im{
width: 100vh;
 
}
.ad{
  position: absolute;
  bottom: 0;
  margin-bottom: 5cm;
 margin-right: 5cm;
font-size: 30px;
color: rgba(255, 255, 255, 0.719);
block-size: auto;
overflow: hidden;
}
.pr{
    display:flex;
    justify-content: space-between;
    margin-right:  5.5px;
    width: 98%;
    padding: 10px;
    color: rgb(255, 208, 0);
    margin-top: 13cm;
    overflow: hidden;
background-color: rgb(58, 58, 58);
}
.pr .qq{

margin-top: 100px;

overflow: hidden;
}
.pr p{

  text-align: center;
    color: rgb(255, 255, 255);
    overflow: hidden;
    width: 90%; 
}
.pr h3{
text-align: center;
  padding: 20px;
width: 90%;
margin-top: 110px;


}
.sub{
 background-color:  rgb(255, 208, 0);
color:  rgb(255, 255, 255);
font-size: 15px;
border: none;
cursor: pointer;
width: 80px;
height: 40px;
margin-top: 3.7cm;
border-radius: 5px;
}
.vd{
    margin-top: 25px;
}
.tt h2{
   
        font-size: 40px;
        color: #000; margin-right: 18cm;
    }
    .lk{
    padding: 45px;
    margin: 5px 1px;
    overflow: hidden;
    }
    .lk:hover{
    background-color: rgba(58, 58, 58, 0.575);
    border-radius: 20px;
    transition: .5s ;
    
    }
    .as{
        background-color:  rgb(255, 208, 0);
        color:  rgb(255, 255, 255);
        font-size: 15px;
        border: none;
        cursor: pointer;
        width: 80px;
        height: 40px;
        border-radius: 5px;
        overflow: hidden;
    }
    .rr {
padding: 10px;
        display:flex;
        justify-content: space-between;
        overflow: hidden;
        background-color: rgba(187, 187, 187, 0.295);
        width: 98%;
    }
    .rr input{
        overflow: hidden;
  padding: 5px 5px;
margin: 10px 5px;

border-radius: 10px;

    }
   

    
   input.saw{

        background-color:  rgb(85, 85, 85);
        color:  rgb(255, 255, 255);
        font-size: 15px;
        border: none;
        cursor: pointer;
        width: 80px;
        height: 40px;
        overflow: hidden;

    }
    input.add{
font-size: 15px;
        width: 10cm;
        height: 2cm;
        margin-left: 3cm;
        overflow: hidden;
    }
    .rr img{
        padding: 15px;
        margin-top: 1.5cm;
        margin-left: 3cm;
            }


 
    .rr h2{
font-size: 30px;
       width: 100%;
      color: rgb(0, 0, 0); 
      
            }
            .xz{
           width: 100vh;
          
            }

            .con{
margin-right: 2cm;
display: flex;
justify-content: center;
background-color: rgba(207, 207, 207, 0.87);
            }
            .crd{
width: 300px;
margin: 15px;
border-radius: 10px;
background-color: rgb(255, 255, 255);

            }
            .img {
                display: flex;
                justify-content: center;
                align-items: center;
                  width: 100%;

            }
              .body h2{
text-align: center;
color: #000;

           }
          .fot{
            display: flex;
justify-content: center;
align-items: center;

           }
.fot button{
width: 120px;
height: 50px;
color: rgb(255, 255, 255);
background-color: rgb(56, 56, 56);
border-radius: 100px;
margin-top: 10px;
font-size: 20px;

}
.body h2:hover{
    color:rgb(255, 208, 0);
}
.fot button:hover{

    color:rgb(0, 0, 0);
    background-color: rgb(255, 208, 0);
}
.df button{
    background-color:  rgb(255, 208, 0);
    color:  rgb(255, 255, 255);
    font-size: 15px;
    border: none;
    cursor: pointer;
    width: 80px;
    height: 40px;
    border-radius: 5px;
 margin-bottom: 20px;
    margin-right: 16cm;
}
.to{
   
    justify-content: center;
    align-items: center;
   justify-content:flex-end;
width: 100%;
height: 170px;
background-color: rgb(255, 208, 0);
}
.to h3{

display: block;
margin-right :30px;

}

.to h5 {
    padding: 10px;
    display: flex;

    margin-left: 13cm;
    
    }

.wa{ 
    margin:10px 10px;
    padding: 10px;
    width: 50px;
    height: 50px;
    border-radius: 500px;
 background-image:url(wa.jpg) ;
 color: rgb(255, 255, 255);
}
.fa{ 
    padding: 10px 10px;
    width: 65px;
    height: 65px;
    border-radius: 500px;
 background-image:url(fe.jpg) ;
 color: rgb(255, 255, 255);
}
.in{ 
    margin:10px 10px;
    padding: 10px 10px;
    width: 50px;
    height: 50px;
    border-radius: 500px;
 background-image:url(in.jpg) ;
 color: rgb(255, 255, 255);
}
.tw{ 
    margin:10px 10px;

    padding: 10px 10px;
    width: 50px;
    height: 50px;
    border-radius: 500px;
 background-image:url(tw.jpg) ;
 color: rgb(255, 255, 255);
}
.yo{ 
    margin:10px 10px;
    padding: 10px 10px;
    margin: 10px;
    width: 50px;
    height: 50px;
    border-radius: 500px;
 background-image:url(yo.jpg) ;
 color: rgb(255, 255, 255);

}